<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.king.mapper.CreateCubicNewDynamicMapper" >
  <resultMap id="BaseResultMap" type="com.king.model.CreateCubicNewDynamic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="SMALLINT" />
    <result column="isMainTitle" property="ismaintitle" jdbcType="SMALLINT" />
    <result column="imgUrl" property="imgurl" jdbcType="VARCHAR" />
    <result column="jumpUrl" property="jumpurl" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, type, isMainTitle, imgUrl, jumpUrl, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_create_cubic_new_dynamic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_create_cubic_new_dynamic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.king.model.CreateCubicNewDynamic" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_create_cubic_new_dynamic (title, type, isMainTitle, 
      imgUrl, jumpUrl, createTime, 
      updateTime)
    values (#{title,jdbcType=VARCHAR}, #{type,jdbcType=SMALLINT}, #{ismaintitle,jdbcType=SMALLINT}, 
      #{imgurl,jdbcType=VARCHAR}, #{jumpurl,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.king.model.CreateCubicNewDynamic" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_create_cubic_new_dynamic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        title,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="ismaintitle != null" >
        isMainTitle,
      </if>
      <if test="imgurl != null" >
        imgUrl,
      </if>
      <if test="jumpurl != null" >
        jumpUrl,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=SMALLINT},
      </if>
      <if test="ismaintitle != null" >
        #{ismaintitle,jdbcType=SMALLINT},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="jumpurl != null" >
        #{jumpurl,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.king.model.CreateCubicNewDynamic" >
    update t_create_cubic_new_dynamic
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=SMALLINT},
      </if>
      <if test="ismaintitle != null" >
        isMainTitle = #{ismaintitle,jdbcType=SMALLINT},
      </if>
      <if test="imgurl != null" >
        imgUrl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="jumpurl != null" >
        jumpUrl = #{jumpurl,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.king.model.CreateCubicNewDynamic" >
    update t_create_cubic_new_dynamic
    set title = #{title,jdbcType=VARCHAR},
      type = #{type,jdbcType=SMALLINT},
      isMainTitle = #{ismaintitle,jdbcType=SMALLINT},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      jumpUrl = #{jumpurl,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>