<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.king.mapper.CreateCubicContactUsMapper" >
  <resultMap id="BaseResultMap" type="com.king.model.CreateCubicContactUs" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="subTitle" property="subtitle" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="imgUrl" property="imgurl" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, content,subTitle, imgUrl, type, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_create_cubic_contact_us
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_create_cubic_contact_us
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.king.model.CreateCubicContactUs" >
    insert into t_create_cubic_contact_us (content, imgUrl, type, 
      createTime, updateTime)
    values (#{content,jdbcType=VARCHAR}, #{imgurl,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.king.model.CreateCubicContactUs" >
    insert into t_create_cubic_contact_us
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="content != null" >
        content,
      </if>
      <if test="subtitle != null" >
        subTitle,
      </if>
      <if test="imgurl != null" >
        imgUrl,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.king.model.CreateCubicContactUs" >
    update t_create_cubic_contact_us
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="subtitle != null" >
        subTitle = #{subtitle,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        imgUrl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.king.model.CreateCubicContactUs" >
    update t_create_cubic_contact_us
    set content = #{content,jdbcType=VARCHAR},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="select" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from t_create_cubic_contact_us
  </select>

  <select id="selectCountByType" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select count(1) from t_create_cubic_contact_us where type = #{type}
  </select>

</mapper>