<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.king.mapper.CreateCubicSpacePlanMapper" >
  <resultMap id="BaseResultMap" type="com.king.model.CreateCubicSpacePlan" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
    <result column="imgUrl" property="imgurl" jdbcType="VARCHAR" />
    <result column="mostFit" property="mostfit" jdbcType="VARCHAR" />
    <result column="unitPrice" property="unitprice" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, desc, imgUrl, mostFit, unitPrice, createTime, updateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_create_cubic_space_plan
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_create_cubic_space_plan
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.king.model.CreateCubicSpacePlan" >
    insert into t_create_cubic_space_plan (title, desc, imgUrl, 
      mostFit, unitPrice, createTime, 
      updateTime)
    values (#{title,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, #{imgurl,jdbcType=VARCHAR}, 
      #{mostfit,jdbcType=VARCHAR}, #{unitprice,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{updatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.king.model.CreateCubicSpacePlan" >
    insert into t_create_cubic_space_plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        title,
      </if>
      <if test="desc != null" >
        desc,
      </if>
      <if test="imgurl != null" >
        imgUrl,
      </if>
      <if test="mostfit != null" >
        mostFit,
      </if>
      <if test="unitprice != null" >
        unitPrice,
      </if>
      <if test="createtime != null" >
        createTime,
      </if>
      <if test="updatetime != null" >
        updateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="mostfit != null" >
        #{mostfit,jdbcType=VARCHAR},
      </if>
      <if test="unitprice != null" >
        #{unitprice,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.king.model.CreateCubicSpacePlan" >
    update t_create_cubic_space_plan
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="imgurl != null" >
        imgUrl = #{imgurl,jdbcType=VARCHAR},
      </if>
      <if test="mostfit != null" >
        mostFit = #{mostfit,jdbcType=VARCHAR},
      </if>
      <if test="unitprice != null" >
        unitPrice = #{unitprice,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null" >
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.king.model.CreateCubicSpacePlan" >
    update t_create_cubic_space_plan
    set title = #{title,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR},
      imgUrl = #{imgurl,jdbcType=VARCHAR},
      mostFit = #{mostfit,jdbcType=VARCHAR},
      unitPrice = #{unitprice,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>